<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    margin-top: 4rem;
  ">
    <div style="display: flex; flex-direction: column;">
        <div>
            <h2>Edit Profile</h2>
        </div>
        <div><img src="" alt="" style="height: 200px; width: 200px;" /></div>
        <div style="margin-top: 2rem;">
            <button type="button" class="btn btn-primary btn-sm bg-danger">Change Profile Picture</button>
        </div>
    </div>

    <div style="display: flex; flex-direction: column; row-gap: 1rem;">
        <div style="background-color: white; height: 1.5rem;" >
            <p>Nishant</p>
        </div>
        <div style="background-color: white; height: auto;">
            <p>
                 Autoplay Controls
            </p>
            <p>
                <span class="tick">&#x2713;</span> Autoplay next in Series
            </p>
            <p>
               <span>&nbsp;&nbsp;&nbsp;</span> Replay Same
            </p>
        </div>
        <div style="display: flex; flex-direction: row; column-gap: 3rem; padding-top: 2rem;">
            <button type="button" class="btn btn-primary btn-sm bg-success">Save</button>
            <button type="button" class="btn btn-primary btn-sm bg-danger">Delete Profile</button>
        </div>
    </div>
</div>