<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem;
    margin-top: 5rem;
  ">
  <div>
    <h1>Select Your Mood</h1>
  </div>
  <div style="display: flex; column-gap: 2rem;">
    <img src="/app/assets/images/user1.png" alt="Image" style="width: 300px; height: 300px;" /></a>
    <img src="<%= asset_path('user1.png') %>"/>
      <img src="D:\Projects\Euphoria\public\apple-touch-icon-precomposed.png" alt="" style="width: 300px; height: 300px;" /></a>
    <a href=""><img src="/app/assets/images/user1.png" alt="" style="width: 300px; height: 300px;" /></a>
    <a href=""><img src="/public/neutral.png" alt="" style="width: 300px; height: 300px;" /></a>
  </div>
</div>